In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('df_machine_sorted.csv', index_col=0)
df.dropna(inplace=True)

In [3]:
# type(df.machine.where('machine' == '0018d759f400ef5c0457ab9c'))
# np.where(df.machine == '0018d759f400ef5c0457ab9c')

In [4]:
index_list = list()

for i in df.machine.unique():
    temp_list = np.where(df.machine == i)
    index_list.append([temp_list[0][0], temp_list[0][-1]])

In [11]:

index_df = pd.DataFrame(index_list, columns=['train_start', 'test_end'])
index_df

      train_start  test_end
0               0       113
1             114       455
2             456       695
3             696       952
4             953      4190
...           ...       ...
1721      2005812   2006120
1722      2006121   2009101
1723      2009102   2012136
1724      2012137   2012364
1725      2012365   2012739

[1726 rows x 2 columns]

In [12]:
index_df['train_end'] = index_df['test_end'] * 0.7
index_df['train_end']

0            79.1
1           318.5
2           486.5
3           666.4
4          2933.0
          ...
1721    1404284.0
1722    1406370.7
1723    1408495.2
1724    1408654.8
1725    1408917.3
Name: train_end, Length: 1726, dtype: float64

In [13]:
index_df['train_end'] = index_df['train_end'].astype('int')
index_df['test_start'] = index_df['train_end'] + 1

In [14]:
index_df.columns

Index(['train_start', 'test_end', 'train_end', 'test_start'], dtype='object')

In [16]:
index_df = index_df[['train_start', 'train_end', 'test_start', 'test_end']]
index_df['length'] = index_df['test_end'] - index_df['train_start'] + 1
index_df

      train_start  train_end  test_start  test_end  length
0               0         79          80       113     114
1             114        318         319       455     342
2             456        486         487       695     240
3             696        666         667       952     257
4             953       2933        2934      4190    3238
...           ...        ...         ...       ...     ...
1721      2005812    1404284     1404285   2006120     309
1722      2006121    1406370     1406371   2009101    2981
1723      2009102    1408495     1408496   2012136    3035
1724      2012137    1408654     1408655   2012364     228
1725      2012365    1408917     1408918   2012739     375

[1726 rows x 5 columns]

In [17]:
index_df.to_csv('machine_indices.csv')