In [1]:
import torch
import pandas as pd
import numpy as np

from utils import get_df

In [2]:
torch.cuda.is_available()

False

In [9]:
DATA_DIR: str = '../data'

sensor_df = get_df(f'{DATA_DIR}/pai_sensor_table.csv')
sensor_df.drop(columns=['job_name', 'task_name', 'read', 'write', 'read_count', 'write_count'], inplace=True)

sensor_df.head()

,worker_name,inst_id,machine,gpu_name,cpu_usage,gpu_wrk_util,avg_mem,max_mem,avg_gpu_wrk_mem,max_gpu_wrk_mem
0,d50591d4a39b5a68e7efa15a0b51cfdca03e8f7a49ade7...,dc6e6daefec62bc3729def7e15133c03b82a97a1457d68...,4a57d4f3d41316da3c4ae876,/dev/nvidia5,0.603296,0.000000,0.232509,0.256836,0.000000,0.000000
1,fd1ee8bacf027604c2afdf89fc4edd843322b78376c9df...,dc6e6daefec62bc3729def7e15133c03b82a97a1457d68...,d84f5bc585e4ac5d24b30ec1,/dev/nvidia7,1.039332,0.000000,0.305684,0.343750,0.000000,0.000000
2,8885c53fd558926cb6aa44bbb7f40e242093778988c57d...,dc6e6daefec62bc3729def7e15133c03b82a97a1457d68...,b8dca09e0247ec64355414f9,/dev/nvidia2,0.287556,0.000000,0.345654,0.436523,0.000000,0.000000
3,8170c081a8d69cc228b9c2fa13a1c5e1190bf215296816...,ccc2b2c5742997e7ed0459efa6ec3db8b8e56e3f7fcd5f...,f7c1c4979c05bb7d20da65e4,/dev/nvidia7,83.771930,18.883333,5.817499,6.886719,2.065153,2.317383
4,e43f95191455f15365b40289c32b44648ce1e501331119...,ccc2b2c5742997e7ed0459efa6ec3db8b8e56e3f7fcd5f...,142a829a1e344f905fdcce42,/dev/nvidia2,112.711111,27.000000,5.494639,6.951172,2.001526,2.317383

In [10]:
sensor_df.sort_values('machine')

,worker_name,inst_id,machine,gpu_name,cpu_usage,gpu_wrk_util,avg_mem,max_mem,avg_gpu_wrk_mem,max_gpu_wrk_mem
1438285,3d89b0a32771c7381dc82290335fa4a0984a1c474d74e6...,bdfe140c3525085fcf2a21027ec2404f83dee6933742c2...,0018d759f400ef5c0457ab9c,/dev/nvidia3,123.873418,168.682927,6.509066,38.627930,5.596501,6.762695
1776018,58290e2c040b949981ce82f3567ddd4c9c400db57ef4cd...,0f9067b978527aed12404e7964559d1ef845523cfbfc1b...,0018d759f400ef5c0457ab9c,/dev/nvidia4,416.731742,2.250835,2.906581,3.335938,0.737376,0.739258
1776088,50729cc799287b5d6833a639e92d65012dee7d48f2c863...,f23ed8a71c4132fe4c246a3d7ffdae98a71fcb16c81390...,0018d759f400ef5c0457ab9c,/dev/nvidia4,732.897912,6.768519,2.945545,3.502930,0.490533,0.495117
1776100,57b278ff349d1c0d0f826cd3cbba156a07411a344ad956...,f2dadc1bfd7c401e59a79b00fa4022561d939b0de6b83d...,0018d759f400ef5c0457ab9c,/dev/nvidia6,284.886435,6.684874,3.996505,5.082031,0.730577,0.739258
1431917,ed13ffeb9de5bec7d13dcb3103de3a0cab85d4bc7c20e1...,a96890c0ddb8624208b7cba8a3275ea923705965bd4e5a...,0018d759f400ef5c0457ab9c,/dev/nvidia6,50.000000,0.000000,0.010742,0.053711,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
2499697,6d9f084d310d3cdc5b355db362aa22337431caf768b202...,bd03f73d3ae45ea2b0f2c1779464d4f842fc073fd45497...,ffe93e263a503bff83bca28d,/dev/nvidia0,91.084211,1.114983,1.926288,7.297852,1.445983,4.967773
654402,f3d57773c55bd0bda11a77ff247c8eecc59e28fd727a33...,6a1192bca9ee4a5889aa1b15f3aecfed323706f5b57576...,ffe93e263a503bff83bca28d,/dev/nvidia1,391.450980,12.696774,3.385438,4.483398,2.091192,2.327148
3008665,6be367eb8fbab9f78349827197f331de00173224ef8ade...,a42e16961af4acd1cca5703a57a7fc1ce16f31207a99ba...,ffe93e263a503bff83bca28d,/dev/nvidia1,1.437500,0.000000,0.449677,0.927734,0.000000,0.000000
297731,eef6fe8c0be010a3bac636024f55b3996d3fe802bafe18...,607f34b718527c2910ea1644963b4ad33bd7c796f08bf4...,ffe93e263a503bff83bca28d,/dev/nvidia1,72.629344,2.526718,1.699043,1.892578,0.542361,0.584961
2373358,99180595bd1b8faba4e60742ee7c51d1a74a8e380a609a...,334bd79076ab5bc3ee68a64841563db90f3ca4a2a94a28...,ffe93e263a503bff83bca28d,/dev/nvidia0,6.929245,0.018605,0.508303,13.075195,0.283680,8.020508

In [34]:
instance_table_df = get_df(f'{DATA_DIR}/pai_instance_table.csv')
instance_table_df.drop(columns=['task_name', 'status'], inplace=True)
instance_table_df.head()

,job_name,inst_name,worker_name,inst_id,start_time,end_time,machine
0,54670e2998350a9f0e4868d5,c47ee192deea8c5aa87d8d7c2e02120cd03f75304a69dd...,05b1590648df3f4c6deea2496bbbefd4d3ae93347669f7...,68889727c2257f702108d185e5eed342a39807a2893d4b...,3272995.0,3273065.0,165261853e188ca69c4fbcdf
1,54670e2998350a9f0e4868d5,92759a73039692b2d3e0929cadf55f5b07b40d6582c36f...,cbc1bc591c53301bceafa44dc626288fd92d2fc5dca438...,68889727c2257f702108d185e5eed342a39807a2893d4b...,3272995.0,3273056.0,31dbf829549b10917e7193a6
2,54670e2998350a9f0e4868d5,b3e42abde4c35da06ff4746802b82678b1bf56b28efaa1...,09d41bf627188adc004b2db7c0a47578325952cc3340af...,68889727c2257f702108d185e5eed342a39807a2893d4b...,3272995.0,3273067.0,31dbf829549b10917e7193a6
3,54670e2998350a9f0e4868d5,d0f2e1f76ff463bcd08302370cc2f9bf0ec1333a3b25e3...,1a631e8be3fd787c2891c15b9e9bac6df4f177efc9ec7b...,68889727c2257f702108d185e5eed342a39807a2893d4b...,3272995.0,3273058.0,3765d45e2eca88d1d1da7cef
4,54670e2998350a9f0e4868d5,0243b1305fd38f228634b23f69de5ed5ce801360eeffdc...,59aea81c00cccb5cd01ca2f7f72877d6bc73b427821986...,68889727c2257f702108d185e5eed342a39807a2893d4b...,3272995.0,3273059.0,c0d6760f6248ea8260e36fa5

In [12]:
# too big
# merged_df = sensor_df.merge(instance_table_df, left_on='machine', right_on='machine')

## Count all Occurrences of a Machine

In [38]:
machine_count = sensor_df.groupby('machine').count()
machine_count.drop(machine_count.columns[1:], axis=1, inplace=True)
machine_count.rename(columns={'worker_name': 'count'}, inplace=True)
machine_count

                          count
machine
0018d759f400ef5c0457ab9c    265
003357a5d5282ec3972d13c0    514
004405a7896b1e55546dd4b2    380
0054b042d12d996eb494f4f0    463
0079479df570af6e43cb37c6   4908
...                         ...
ff82d9bc396cda91ba7b4ce3    561
ffa083856bd1d23e8701a43f   4632
ffb1bc4dc2fbb09d0477f0f0   4844
ffe77b7e12a80177cd4a403b    279
ffe93e263a503bff83bca28d    656

[1737 rows x 1 columns]

In [39]:
machine_small = machine_count.query('count > 2500')
machine_small

                          count
machine
0079479df570af6e43cb37c6   4908
00b7e2d6533605d5e931b00c   8463
033a61c97648ebeae1fabc1f   5538
047b3b114e3a7149f5debddc   3795
04a09f3ca5390e64e6851e49   7429
...                         ...
fe56bde71eaa60f0df1eb25c   2608
ff1810dc3575a81fa5c6a1ee   4422
ff1fb51807477d22a3609d29   2710
ffa083856bd1d23e8701a43f   4632
ffb1bc4dc2fbb09d0477f0f0   4844

[297 rows x 1 columns]

In [ ]:
machine_small.merge()